input.color-selector {
  width: 20px !important;
  cursor: pointer;
}


.extra-data-separator {
  margin-top: 20px;
}

.form-group.row .data-value {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  padding: 5px 15px;
  outline: none;
}


.form-group.row .data-value:focus {
  border-bottom: 1px solid blue;
}


