<app-top-bar [backRoute]="'/home'" [backToHome]="false"></app-top-bar>
<div class="menu-background">
  <span class="first-name-part name-part"><span class="main-letter">D</span>emonic</span>
  <span class="second-name-part name-part"><span class="main-letter">C</span>ity</span>
  <p class="extra-text">¡Constructor!</p>
  <div class="title-divider divider div-transparent div-dot"></div>
  <div class="menu container-fluid">
    <div *ngFor="let route of routes"
         class="row justify-content-center"
         routerLink="{{route.route}}">
      <div class="menu-option col-4 text-center">{{route.name}}</div>
    </div>
  </div>
</div>
