#top-bar {
  width: 100% !important;
  color: white;
  background: black;
  z-index: 999;
  height: 50px;
  position: relative;
  top: 0;
}

#top-bar i{
  cursor: pointer;
  position: absolute;
  font-size: 50px !important;
}


.back-icon {
  left: 0;
}

.clear-icon {
  right: 0;
}
