/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto|Roboto+Condensed|Anton&display=swap');

#card-app {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 900px;
  position: relative;
}

.outlet {
  width: 800px;
  height: 900px;
  max-width: 800px;
  max-height: 900px;
  overflow-x: hidden;
  position: relative;
  /*
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #473f5c 2px solid;
  overflow: auto;
   */
}


input.color-selector {
  width: 20px !important;
  cursor: pointer;
}


.outlet {
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #485563, #29323c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #485563, #29323c);
  /*
  background: rgb(0,25,36);
  background: linear-gradient(229deg, rgba(0,25,36,1) 0%, rgba(9,92,121,1) 36%, rgba(0,212,255,1) 84%);
  /*
  background: url(https://i.ibb.co/5THtCXS/demonic-banner.png) no-repeat center;
  background-size: cover;*/
}


/*==============          FICHAS/TABLILLAS - AQUINO          ==============*/
/* Tablas para Personajes */
.tabDC{
  max-width: 480px;
  width: 480px;
}
.headerTab{
  height: 140px;
  width: 480px;
}
.bgHeader{
  position: relative;
  height: 140px;
  width: 480px;
  background: url(https://cdn.discordapp.com/attachments/567173362292359168/592115923608010753/header.png);
}
.ava{
  margin-top: -100px;
  float: left;
  width: 116px;
  height: 100px;
  margin-left: 22px;
  background: url(http://via.placeholder.com/118x100);
  background-size: 100%;
}
.nameTab{
  position: absolute;
  margin-top: -73px;
  margin-left: 240px;
  width: 240px;
  color: #77669D;
  letter-spacing: 2px;
  font-size: 25px;
}
.nameTab p {
  text-align: center;
  font-family: Oswald;
}
.origen{
  float: left;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 9px;
  letter-spacing: 5px;
  background: #77669D;
  color: #fff;
}
.optionsTab{
  width: 37%;
  height: 503px;
  float: left;
  background: #404549;
}
.textTab{
  width: 63%;
  height: 503px;
  float: left;
  background: #fff;
}
.infoTitle {
  font-size: 15px;
  color: #fff;
  text-shadow: 2px 3px 3px #77669D;
}
.infoText p span{
  font-weight: 100;
}
.infoText p{
  height: 30px;
  line-height: 30px;
  width: 80%;
  margin: 5px 10%;
  background: #77669D;
  color: #fff;
  outline: 1px solid #fff;
  outline-offset: -5px;
  font-size: 1em;
}
.infoText i{
  color: #fff;
}
.ext{
  color: #404549;
  text-align: justify;
  font-size: 9px;
  height: 127px;
  max-height: 127px;
  margin: 0 10px;
  background: white;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.textTab h2{
  font-family: Oswald;
  margin: 10px 0;
  color: #77669D;
}
.ingresarTexto {
  box-sizing: border-box;
  height: 113px;
  border: 1px solid #77669D;
  margin: 0 20px;
  padding: 10px;
  overflow-y: auto;
  color: #77669D;
  text-align: justify;
  font-size: 11px;
  overflow-x: hidden;
}
/* Tablas para NPC y Guías */
.contentNpc{
  width: 580px;
  height: 700px;
  /*background-color: white;*/
  /*border-left: 20px solid #72598e;*/
  padding: 20px;
  box-sizing: border-box;
}
.npcInfoTwo::-webkit-scrollbar,
.npcInfoOne::-webkit-scrollbar {
  background-color: #473f5c;
  border: 4px solid #000;
  height: 9px;
  width: 9px;
  box-sizing: border-box;
}
.npcInfoTwo::-webkit-scrollbar-thumb,
.npcInfoOne::-webkit-scrollbar-thumb {
  background-color: #473f5c;
  border: 3px solid #000;
  height: auto;
  box-sizing: border-box;
}
.contentNpc img{
  padding-bottom: 10px;
  border-bottom: 10px solid #72598e;
  box-sizing: border-box;
}
.titleNpc{
  padding: 10px 0;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-bottom: 10px solid #72598e;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: black;
  width: 100%;
  font-family: Oswald;
}
.optionsNpc{
  width: 100%;
  height: 140px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.datoNpc{
  width: 264.5px;
  height: 30px;
  margin-left: -4.5px;
  border-left: 5px solid white;
  margin-bottom: 5px;
  background-color: #72598e;
  float: left;
  text-align: center;
  line-height: 30px;
  color: white;
  box-sizing: border-box;
}
.npcInfoOne{
  float: left;
  width: 55%;
  height: 230px;
  border: 1px dashed #72598e;
  border-right: none;
  margin-right: 1%;
  overflow: auto;
  text-align: justify;
  padding: 5px;
  box-sizing: border-box;
  color: #72598e;
}
.npcInfoTwo{
  float: left;
  width: 44%;
  height: 230px;
  border: 1px dashed #72598e;
  border-right: none;
  overflow: auto;
  text-align: justify;
  padding: 5px;
  box-sizing: border-box;
  color: #72598e;
}
.titleNpcInfo{
  padding: 5px;
  text-align: center;
  border-bottom: 1px dashed #72598e;
  box-sizing: border-box;
  color: black;
  font-family: Oswald;
}
input.titleNpcInfoInput {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  border: none;
}
.npcInfoOne textarea,
.npcInfoTwo textarea {
  font-family: Oswald, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  color: #72598e;
}
.guideTab::-webkit-scrollbar {
  background-color: #473f5c;
  border: 4px solid #000;
  height: 9px;
  width: 9px;
  box-sizing: border-box;
}
.guideTab::-webkit-scrollbar-thumb {
  background-color: #473f5c;
  border: 3px solid #000;
  height: auto;
  box-sizing: border-box;
}
.guideTab{
  float: left;
  width: 100%;
  height: 378px;
  border: 1px dashed #72598e;
  overflow: auto;
  text-align: justify;
  padding: 5px;
  box-sizing: border-box;
  color: black;
  font-family: Oswald;
}


/** Menus **/

.menu-background {
  width: 100%;
  height: 840px;
  position: relative;
  overflow: hidden;
  /*background: rgba(0,0,0,.5);*/
}

.full-background {
  width: 100%;
  height: 810px;
  position: relative;
  /*background: rgba(0,0,0,.5);*/
}


.menu {
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.menu div {
  vertical-align: middle;
}

/*
.menu-option {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  background: red;
  color: white;
  width: 200px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
}

.menu-option:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #153d00), color-stop(1, #943131));
  background:-moz-linear-gradient(top, #153d00 5%, #943131 100%);
  background:-webkit-linear-gradient(top, #153d00 5%, #943131 100%);
  background:-o-linear-gradient(top, #153d00 5%, #943131 100%);
  background:-ms-linear-gradient(top, #153d00 5%, #943131 100%);
  background:linear-gradient(to bottom, #153d00 5%, #943131 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#153d00', endColorstr='#943131',GradientType=0);
  background-color:#153d00;
}
 */

.menu-option {
  -moz-box-shadow: 0px 1px 0px 0px #4d5063;
  -webkit-box-shadow: 0px 1px 0px 0px #4d5063;
  box-shadow: 0px 1px 0px 0px #4d5063;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #004a63), color-stop(1, #29323c));
  background:-moz-linear-gradient(top, #004a63 5%, #29323c 100%);
  background:-webkit-linear-gradient(top, #004a63 5%, #29323c 100%);
  background:-o-linear-gradient(top, #004a63 5%, #29323c 100%);
  background:-ms-linear-gradient(top, #004a63 5%, #29323c 100%);
  background:linear-gradient(to bottom, #004a63 5%, #29323c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#943131', endColorstr='#153d00',GradientType=0);
  background-color:#943131;
  /*
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
   */
  border:2px solid #4d5063;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:19px;
  padding:12px 76px;
  text-decoration:none;
  text-shadow:0px 3px 5px #662828;
}

.menu-option:hover {
  animation: menu-selection .4s linear forwards;
}
.menu-option:active {
  position:relative;
  top:1px;
}



.row + .row {
  margin-top: 10px;
}

@keyframes menu-selection {
  50%{background: #00283d;}
  100%{background: #00283d;}

}

*:focus,
*:active,
a:active,
a:focus,
input:focus,
input:active {
  -moz-outline-style: none;
  outline:none;
  outline: 0;
}

::-webkit-scrollbar {
  background-color: #473f5c;
  border: 4px solid #000000;
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #473f5c;
  border: 3px solid #000000;
  height: auto;
}

i {
  cursor: pointer;
}

/** Tablilla mascotas **/

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans|Roboto|Roboto+Condensed&display=swap');
.character-pet-card {
  width: 500px;
  height: 500px;
  max-width: 500px;
  max-height: 500px;
  background: #a6a6a6;
  display: inline-block;
  position: relative;
}
.character-pet-card .character-image {
  width: 187px;
  height: 470px;

}
.character-pet-card .character-image .main-image {
  width: 187px;
  height: 470px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://via.placeholder.com/187x470);

}
.character-pet-card .pet-image {
  width: 187px;
  height: 470px;
  /**background: url(https://cdn.discordapp.com/attachments/567173362292359168/618792432842178573/unknown.png);**/
  transform: rotateY(180deg);
}
.character-pet-card .image-side {
  position: relative;
  display: inline-block;
  float: left;
  width: 187px;
  height: 470px;
  margin: 5px;
  perspective: 1000px;
}
.character-pet-card .info-side {
  display: inline-block;
  position: relative;
  float: left;
  height: 470px;
  width: 300px;
  max-width: 300px;
  overflow: hidden;
  margin-top: 5px;
}

.character-pet-card .info-side .selector-menu {
  width: 100%;
  height: 50px;
  background: #5b5b5b;
  color: white !important;
  position: relative;
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  float: left;
}
.character-pet-card .info-side .selector-menu .menu-selector {
  width: 50%;
  height: 48px;
  display: inline-block;
  float: left;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.character-pet-card .info-side .selector-menu .menu-selector.active {
  border-bottom: #fff8fd 2px solid;
  color: white !important;
}
.character-pet-card .info-side .section {
  height: 430px;
  max-height: 443px;
  position: absolute;
  top: 50px;
  float: left;
  width: 300px;
  background: #303030;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  word-break: break-all;
}
.character-pet-card .info-side .section {
  left: -300px;
  transition: .4s;
}
.character-pet-card .info-side .section.active {
  left: 0;
  transition: .4s;
}

.image-side-inner {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 470px;
  text-align: center;
  transition: .3s;
  transform-style: preserve-3d;
}
.inside-image {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 100%;
  backface-visibility: hidden;
}

.image-side.pet .image-side-inner {
  transform: rotateY(180deg);
}

/** Character hover **/
.character-pet-card .character-hover .inner-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url(https://via.placeholder.com/150x150);
  position: relative;
  display: inline-block;
}
.character-pet-card .character-hover .extra-data {
  width: 170px;
  height: 30px;
  background: #5b5b5b;
  color: white;
  text-align: center;
  line-height: 30px;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
}

.character-pet-card .character-hover {
  width: 187px;
  position: absolute;
  opacity: 0;
  z-index: 999;
  height: auto;
  max-height: 470px;
  overflow-y: auto;
  bottom: 10px;
  transition: opacity .3s;
}

.character-pet-card .character-hover .extra-data + .extra-data {
  margin-top: 3px;
}

/** Character hover always **/

.character-pet-card .character-hover-always .inner-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url(https://via.placeholder.com/150x150);
  position: relative;
  display: inline-block;
}
.character-pet-card .character-hover-always .extra-data {
  width: 170px;
  height: 30px;
  background: #5b5b5b;
  color: white;
  text-align: center;
  line-height: 30px;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
}

.character-pet-card .character-hover-always {
  width: 187px;
  position: absolute;
  opacity: 1;
  z-index: 999;
  height: auto;
  max-height: 470px;
  overflow-y: auto;
  bottom: 10px;
  transition: opacity .3s;
}

.character-pet-card .character-hover-always .extra-data + .extra-data {
  margin-top: 3px;
}

/** End of always **/

.character-pet-card .main-name {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 25px;
  margin-bottom: 7px;
  margin-top: 7px;
}

.character-pet-card .character-image .overlay {
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.character-pet-card .character-image .overlay-always {
  background: rgba(0, 0, 0, 0.85);
  opacity: 1;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.character-pet-card .character-image .overlay.hovered {
  opacity: 1;
  transition: .2s;
}
.character-pet-card .image-side {
  cursor: pointer;
}
.character-pet-card .info-side .section p {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin-bottom: 5px;
  color: white !important;
}
.character-pet-card .section .title {
  font-family: 'Dancing Script', cursive !important;
  text-align: center;
  color: white;
  font-size: 30px;
}
.character-pet-card .copyright {
  bottom: 0;
  width: 100%;
  height: 20px;
  background: #262626;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  position: absolute;
  z-index: 999;
  padding: 0 !important;
}
.character-pet-card .copyright a,
.character-pet-card .copyright a:visited,
.character-pet-card .copyright a:hover,
.character-pet-card .copyright a:active{
  color: white;
}

/** Fin tablilla mascotas **/
