<app-top-bar [backRoute]="'/card-list'"></app-top-bar>

<div class="container-fluid">
  <div class="row justify-content-center" style="margin-top: 20px">
    <div class="tabDC">
      <div class="headerTab" style="position: relative">
        <div class="bgHeader"></div>
        <div class="ava" [ngStyle]="{'background': 'url('+headerImage+')'}"></div>
        <div class="nameTab" [textContent]="npcName" (input)="npcName=$event.target.textContent" contenteditable>
          {{npcName}}
        </div>
      </div>
      <div class="origen text-center">&diams; <span [textContent]="characterName" (input)="characterName=$event.target.textContent" contenteditable>{{characterName}}</span> &diams; <span [textContent]="characterOrigin" (input)="characterOrigin=$event.target.textContent" contenteditable>{{characterOrigin}}</span> &diams;</div>
      <div class="optionsTab">
        <div class="infoTitle text-center" style="margin-top: 20px; margin-bottom: 15px;">Datos Principales</div>
        <div class="infoText">
          <p class="fas fa-cannabis text-center"><span> Apodo: </span><i [textContent]="characterData.nickname" (input)="characterData.nickname=$event.target.textContent" contenteditable>{{characterData.nickname}}</i></p>
          <p class="fas fa-cannabis text-center"><span> Edad: </span><i [textContent]="characterData.age" (input)="characterData.age=$event.target.textContent" contenteditable>{{characterData.age}}</i></p>
          <p class="fas fa-cannabis text-center"><span> Género: </span><i [textContent]="characterData.genre" (input)="characterData.genre=$event.target.textContent" contenteditable>{{characterData.genre}}</i></p>
          <p class="fas fa-cannabis text-center"><span> Origen: </span><i [textContent]="characterData.origin" (input)="characterData.origin=$event.target.textContent" contenteditable>{{characterData.origin}}</i></p>
          <p class="fas fa-cannabis text-center"><span> Raza: </span><i [textContent]="characterData.race" (input)="characterData.race=$event.target.textContent" contenteditable>{{characterData.race}}</i></p>
          <p class="fas fa-cannabis text-center"><span> Clase: </span><i [textContent]="characterData.characterClass" (input)="characterData.characterClass=$event.target.textContent" contenteditable>{{characterData.characterClass}}</i></p>
          <p class="fas fa-cannabis text-center"><span> Facción: </span><i [textContent]="characterData.faction" (input)="characterData.faction=$event.target.textContent" contenteditable>{{characterData.faction}}</i></p>
        </div>
        <div class="infoTitle text-center" style="margin-top: 20px; margin-bottom: 15px;">Extras</div>
        <textarea class="ext" [(ngModel)]="extraData" [ngStyle]="{'background-color': 'white', 'resize': 'none', 'width': '157.59px', 'text-align': 'justify'}"> </textarea>
      </div>
      <div class="textTab">
        <h2 class="text-center" [textContent]="sectionsContent[0].name" (input)="sectionsContent[0].name=$event.target.textContent" contenteditable>{{sectionsContent[0].name}}</h2>
        <textarea class="ingresarTexto" [(ngModel)]="sectionsContent[0].content" [ngStyle]="{'background-color': 'transparent', 'width': '262.38px', 'resize': 'none'}"> </textarea>

        <h2 class="text-center" [textContent]="sectionsContent[1].name" (input)="sectionsContent[1].name=$event.target.textContent" contenteditable>{{sectionsContent[1].name}}</h2>
        <textarea class="ingresarTexto" [(ngModel)]="sectionsContent[1].content" [ngStyle]="{'background-color': 'transparent', 'width': '262.38px', 'resize': 'none'}"> </textarea>

        <h2 class="text-center" [textContent]="sectionsContent[2].name" (input)="sectionsContent[2].name=$event.target.textContent" contenteditable>{{sectionsContent[2].name}}</h2>
        <textarea class="ingresarTexto" [(ngModel)]="sectionsContent[2].content" [ngStyle]="{'background-color': 'transparent', 'width': '262.38px', 'resize': 'none'}"> </textarea>
      </div>
      <div class="origen text-center"><a href="https://www.facebook.com/daquinoblanco">Aquino</a> &copy; Para uso exlusivo en <a href="http://demonic-city.foroactivo.com">Demonic City</a></div>
    </div>
  </div>

  <div class="row" style="margin-top: 30px">
    <div class="container-fluid">
      <div class="card bg-dark text-white">
        <div class="card-header">
          <div class="card-title text-center">Configuración</div>
        </div>
        <div class="card-body">
          <form>
            <br/>
            <div class="form-group row">
              <label for="header-img" class="col-3">Imagen de personaje:</label>
              <input type="text"
                     id="header-img"
                     [(ngModel)]="headerImage" [value]="headerImage"
                     class="form-control col-7"
                     name="header-img"
              >
            </div>
            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary"
                        style="width: 100%"
                        [copy-clipboard]="copyToClipboard()"
                        (copied)="notify($event)">Copiar al portapapeles</button>
              </div>
              <!--
              <div class="col-6">
                <button class="btn btn-primary" style="width:100%">Importar</button>
              </div>
              -->
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
  <br/>
  <br/>
</div>


