<app-top-bar [backRoute]="'/card-list'"></app-top-bar>

<div class="container-fluid">
  <div class="row justify-content-center" style="margin-top: 20px">
    <div class="tabDC">
      <div class="headerTab" style="position: relative">
        <div class="bgHeader"></div>
        <div class="ava"></div>
        <div class="nameTab">
          Nombre Apellido 2
        </div>
      </div>
      <div class="origen text-center">&diams; Nombre del Personaje &diams; Lugar de Origen &diams;</div>
      <div class="optionsTab">
        <div class="infoTitle text-center" style="margin-top: 20px; margin-bottom: 15px;">Datos Principales</div>
        <div class="infoText">
          <p class="fas fa-cannabis text-center"><span> Apodo: </span><i>Data</i></p>
          <p class="fas fa-cannabis text-center"><span> Edad: </span><i>Data</i></p>
          <p class="fas fa-cannabis text-center"><span> Género: </span><i>Data</i></p>
          <p class="fas fa-cannabis text-center"><span> Origen: </span><i>Data</i></p>
          <p class="fas fa-cannabis text-center"><span> Raza: </span><i>Data</i></p>
          <p class="fas fa-cannabis text-center"><span> Clase: </span><i>Data</i></p>
          <p class="fas fa-cannabis text-center"><span> Facción: </span><i>Data</i></p>
        </div>
        <div class="infoTitle text-center" style="margin-top: 20px; margin-bottom: 15px;">Extras</div>
        <div class="ext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit beatae, ad fuga praesentium dolorum excepturi magnam aut corporis ullam modi hic animi quia nesciunt tenetur corrupti dolorem, veniam repellendus dicta!
          <br>
          <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, similique? Aspernatur impedit natus, maiores eligendi corrupti et sit saepe autem modi iure odio dicta velit libero in ipsam harum distinctio.</div>
      </div>
      <div class="textTab">
        <h2 class="text-center">Físico</h2>
        <div class="ingresarTexto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit beatae, ad fuga praesentium dolorum excepturi magnam aut corporis ullam modi hic animi quia nesciunt tenetur corrupti dolorem, veniam repellendus dicta!
          <br>
          <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, similique? Aspernatur impedit natus, maiores eligendi corrupti et sit saepe autem modi iure odio dicta velit libero in ipsam harum distinctio.
          <br>
          <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit beatae, ad fuga praesentium dolorum excepturi magnam aut corporis ullam modi hic animi quia nesciunt tenetur corrupti dolorem, veniam repellendus dicta!
          <br>
          <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, similique? Aspernatur impedit natus, maiores eligendi corrupti et sit saepe autem modi iure odio dicta velit libero in ipsam harum distinctio.
          <br>
          <br>
        </div>
        <h2 class="text-center">Psicología</h2>
        <div class="ingresarTexto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit beatae, ad fuga praesentium dolorum excepturi magnam aut corporis ullam modi hic animi quia nesciunt tenetur corrupti dolorem, veniam repellendus dicta!
          <br>
          <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, similique? Aspernatur impedit natus, maiores eligendi corrupti et sit saepe autem modi iure odio dicta velit libero in ipsam harum distinctio.
          <br>
          <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit beatae, ad fuga praesentium dolorum excepturi magnam aut corporis ullam modi hic animi quia nesciunt tenetur corrupti dolorem, veniam repellendus dicta!
          <br>
          <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, similique? Aspernatur impedit natus, maiores eligendi corrupti et sit saepe autem modi iure odio dicta velit libero in ipsam harum distinctio.
          <br>
          <br>
        </div>
        <h2 class="text-center">Historia</h2>
        <div class="ingresarTexto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit beatae, ad fuga praesentium dolorum excepturi magnam aut corporis ullam modi hic animi quia nesciunt tenetur corrupti dolorem, veniam repellendus dicta!
          <br>
          <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, similique? Aspernatur impedit natus, maiores eligendi corrupti et sit saepe autem modi iure odio dicta velit libero in ipsam harum distinctio.
          <br>
          <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit beatae, ad fuga praesentium dolorum excepturi magnam aut corporis ullam modi hic animi quia nesciunt tenetur corrupti dolorem, veniam repellendus dicta!
          <br>
          <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, similique? Aspernatur impedit natus, maiores eligendi corrupti et sit saepe autem modi iure odio dicta velit libero in ipsam harum distinctio.
          <br>
          <br>
        </div>
      </div>
      <div class="origen text-center"><a href="https://www.facebook.com/daquinoblanco">Aquino</a> &copy; Para uso exlusivo en <a href="http://demonic-city.foroactivo.com">Demonic City</a></div>
    </div>
  </div>

  <div class="row" style="margin-top: 30px">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="card-title text-center">Configuración</div>
        </div>
        <div class="card-body">
          <form>
            <br/>
            <div class="form-group row">
              <label for="border-selector" class="col-3">Color de borde: </label>
              <input id="border-selector"
                     [style.background]="borderColor"
                     class="color-selector form-control col-1"
                     (colorPickerChange)="reBuildBorder($event)"
                     [(colorPicker)]="borderColor" />
            </div>

            <div class="form-group row">
              <label for="background-selector" class="col-3">Color de fondo: </label>
              <input id="background-selector"
                     class="color-selector form-control col-1"
                     [style.background]="cardColor"
                     [(colorPicker)]="cardColor" />
            </div>
            <div class="form-group row">
              <label for="header-img" class="col-3">Imagen de cabecera:</label>
              <input type="text"
                     id="header-img"
                     [(ngModel)]="headerImage" [value]="headerImage"
                     class="form-control col-7"
                     name="header-img"
              >
            </div>
            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary"
                        style="width: 100%"
                        [copy-clipboard]="copyToClipboard()"
                        (copied)="notify($event)">Copiar al portapapeles</button>
              </div>
              <!--
              <div class="col-6">
                <button class="btn btn-primary" style="width:100%">Importar</button>
              </div>
              -->
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
  <br/>
  <br/>
</div>


